extends layout

block content
  #container
    .p-4.p-md-5.mb-4.text-white.rounded.bg-dark
      .col-md-6.px-0
        h1.display-4.fst-italic Get what you deserve.
        p.lead.my-3.
          Renters generally have nothing done with their security deposits and rental payments. 
          Imagine instead if you could have that money work for you? By integrating with the 
          blockchain and <a class="text-white" href="https://charged.fi">Charged Particles</a> 
          we can invest your money for you into an interest bearing token. When you get your security 
          deposit back, you also gain the interest. It's that simple.

        p.lead.mb-0
          a.text-white(href="/about") Continue reading...

